<h1>Welcome {{posts.firstname}}</h1>
<img src="../../../assets/img/{{posts.id}}.png" id ="profile-image" alt="">




<table class="table table-hover table-borderless table-responsive-sm table-striped">
    <thead>
        <tr class="nt">
            <th>ID</th>
            <td>{{posts.id}}</td>
            
            
           
        </tr>
    </thead>
    <tbody>
        <tr class="nt">
            <th>First Name</th>
            <td>{{posts.firstname}}</td>
            </tr>
            <tr class="nt">
                <th>Last Name</th>
                <td>{{posts.lastname}}</td>
            </tr>
            <tr>
                <th>Father's Name</th>
                <td>{{posts.father_name}}</td>
            </tr>
            <tr class="nt">
                <th>Email</th>
                <td>{{posts.email}}</td>

            </tr >
            <tr class="nt">
            <th>Phone no.</th>
            <td>{{posts.phone_no}}</td>
        </tr>
        <tr><th>Adress</th>
        <td>{{posts.address}}</td></tr>
        <tr>
            <th>Course</th>
            <td>{{posts.course}}</td>
        </tr>
                         
    </tbody>
</table>


    