/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-image: url('../src/assets/img/background.png');
background-repeat: no-repeat;
background-position: center;
background-size: auto;

}

.mat-drawer-container{
    background-color: white;
    
}

h1{
    font-size: 2rem;
    size: 2rem;
}

.mat-card {
    background: white;
    color: rgb(0 0 0);
}
